.top-destinations {
    width: 100%;
}

.top-destinations h2 {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 20px 0;
    color: #5b5753;
}

.destination-cards a {
    height: 565px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
}

.destination-cards .card {
    width: 275px;
    height: 275px;
    border-radius: 2px;
}

.destination-cards .card-gradient {
    position: relative;
    top: -275px;
}

.img-unresponsive {
    display: block;
    width: 275px;
    height: 275px;
    border-radius: 2px;
}

.img-responsive {
    display: none;
}

.card-title {
    position: relative;
    top: -255px;
    left: 20px;
    font-weight: bold;
    font-size: 25px;
    color: #ff5f2e;
}

.card-body {
    height: 50px;
    position: relative;
    top: -100px;
    margin-left: 20px;
    color: #5b5753;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-body .duration {
    font-style: italic;
}

.card-price {
    position: relative;
    top: -170px;
    left: 64%;
}

.see-more {
    width: 350px;
    height: 40px;
    margin: 30px 50% 30px 50%;
    transform: translate(-50%, 0%);
}

@media all and (max-width: 990px) {
    .top-destinations {
        max-width: 990px;
    }

    .destination-cards {
        margin-bottom: -25px;
    }

    .top-destinations h2 {
        font-size: 50px;
    }

    .top-destinations a {
        height: 100%;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    .top-destinations .card {
        width: 990px;
        height: 500px;
        margin-bottom: 30px;
    }

    .top-destinations .card-gradient {
        top: -500px;
    }

    .img-unresponsive {
        display: none;
    }

    .img-responsive {
        display: block;
        max-width: 990px;
        max-height: 500px;
    }

    .top-destinations .card-title {
        font-size: 50px;
        left: 50px;
        top: -280px
    }

    .top-destinations .card-body {
        top: 0;
        left: 25px;
    }

    .top-destinations .card-body .hotel,
    .top-destinations .card-body .duration {
        font-size: 30px
    }

    .top-destinations .card-price {
        left: 840px;
        top: -100px
    }

    .see-more {
        width: 90%;
        height: 70px;
        font-size: 40px;
    }
}
