.contact-informations {
    margin: 20px 0 0 20px;
}

.contact-info {
    margin-bottom: 20px;
}

.contact-body {
    line-height: 1.7;
}

@media all and (max-width: 990px) {
    .contact-informations {
        margin: 30px 40px 40px 40px;
    }

    .contact-body {
        font-size: 30px;
    }
}
