.footer {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.icon-link {
    height: 100px;
    background: #004e66;
}

.icon-link ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.icon-link li {
    width: 20%;
}

.icon-link a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 10px;
}

.icon-link img {
    width: 50px;
    height: 50px;
    margin: auto;
}

.icon-link p {
    text-align: center;
    color: white;
    margin-top: 15px;
}

.links-address-call {
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: #e1eef6;
}

.links-address-call h4 {
    font-weight: bold;
    color: #5b5753;
}

.links, .address, .call {
    margin-top: 20px;
    font-size: 18px;
}

.links, .address {
    width: 30%;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.links h4, .call h4 {
    margin: 5px 0 15px 0;
}

.links ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 15px;
}

.links a {
    margin: 10px 0;
}

.address {
    margin-left: 45px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.call {
    width: 40%;
}

.call p {
    font-size: 40px;
}

.empty-div {
    height: 20px;
    background: #ff5f2e;
}

@media all and (max-width: 990px) {
    footer {
        max-width: 990px;
    }

    .icon-link {
        height: 420px;
        width: 990px;
    }

    .icon-link ul {
        flex-wrap: wrap;
    }

    .icon-link li {
        width: 40%;
    }

    .icon-link img {
        width: 150px;
        height: 150px;
    }

    .icon-link p {
        font-size: 20px;
    }

    .links-address-call {
        height: 850px;
        width: 990px;
        flex-direction: column;
        text-align: center;
        justify-content: normal;
    }

    .links-address-call h4 {
        font-size: 30px;
    }

    .links-address-call p, .links-address-call a {
        font-size: 25px;
    }

    .links, .address, .call {
        position: relative;
        width: 990px;
    }

    .links {
        height: 250px;
        left: -20px;
        margin-top: 30px;
    }

    .links ul {
        justify-content: space-around;
    }

    .address {
        height: 250px;
        left: -45px;
        margin-top: 50px;
    }

    .call p {
        margin-top: 50px;
        font-size: 60px;
    }

    .empty-div {
        width: 990px;
    }
}
